# .editorconfig
root = true

[*.cs]
indent_style = space
indent_size = 2
dotnet_naming_rule.interface_should_start_with_i.severity = suggestion
dotnet_naming_rule.interface_should_start_with_i.symbols = interfaces
dotnet_naming_rule.interface_should_start_with_i.style = prefix_i
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.required_modifiers = *
dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = pascal_case
